<header class="w-full h-16 px-4 bg-blue-400 flex flex-col items-center">
  <div class="container h-full flex flex-row justify-between">

    <div class="h-full flex flex-col justify-center items-center">
      <a routerLink="/"
        class="text-gray-100 text-xl font-bold p-2 border-2 border-gray-100 rounded-lg transition-all hover:bg-gray-100 hover:text-blue-400 cursor-pointer">
        Escola Angular &lt;/&gt;
      </a>
    </div>

    <nav class="h-full">
      <ul class="h-full flex flex-row items-center gap-6">

        <li>
          <a routerLink="/" class="text-white text-lg font-medium px-4 py-2 rounded-md bg-blue-600">
            Início
          </a>
        </li>

        <li>
          <a routerLink="/students" class="text-white text-lg font-medium px-4 py-2 rounded-md bg-indigo-800">
            Alunos
          </a>
        </li>

      </ul>
    </nav>

  </div>
</header>