<section id="hero" class="w-full mt-20 grid grid-cols-2 gap-10">
  <div class="w-full py-7">
    <h1 class="text-6xl font-bold text-blue-400">
      Escola Angular &lt;/&gt;
    </h1>
    <p class="mt-10 mb-6 text-3xl font-medium text-gray-500 leading-10">
      Seja Bem Vindo a Escola Angular, o melhor lugar para aprender Angular!!
      Se transforme hoje em um
      <strong class="text-blue-500 font-extrabold">Programador Angular Profissional</strong>
      e impulsione a sua carreira como programador!
    </p>
    <app-button color="blue">
      <span class="uppercase">Saiba mais</span>
    </app-button>
  </div>
  <div class="flex justify-center">
    <img class="block rounded-full" width="400" h-50 src="../../../../assets/images/students.jpg" alt="">
  </div>
</section>